$font-style: 'Arial', 'Helvetica', 'Times New Roman', 'Courier New', 'Verdana', 'Georgia', 'Palatino', 'Garamond', 'Bookman', sans-serif;

$green-bg-col: #27ae60;
$yellow-bg-col: #f1c40f;
$red-bg-col: #e74c3c;
$blue-bg-col: #2980b9;
$gray-bg-col: #454c4d;
$default-bg-col: #999999;

$btn-text-col: #fafafa;
