$font-style: 'Arial', 'Helvetica', 'Times New Roman', 'Courier New', 'Verdana', 'Georgia', 'Palatino', 'Garamond', 'Bookman', sans-serif;

$body-bg-col: #f3f3f3;

$green-bg-col: #27ae60;
$yellow-bg-col: #f1c40f;
$red-bg-col: #e74c3c;
$blue-bg-col: #2980b9;
$gray-bg-col: #454c4d;
$default-bg-col: #999999;

$btn-text-col: #fafafa;

$pagination-main-col: #e7eaeb;
$pagination-font-color: #454c4d;

$tabs-green-col: #52be80;
$tabs-red-col: #e74c3c;
$tabs-style1-font-col: #bdc3c7;
$tabs-style1-font-col--active: #454c4d;
$tabs-style1-border-col: #e1e5e6;
$tabs-style2-font-col: #7f8c8d;
$tabs-style2-bg-col: #ffffff;